/* Adjust heading font sizes */
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.3rem;
  opacity: 0.9;
}
h4 {
  font-size: 1.0rem;
  font-weight: 600;
}

/* Make no-javascript notes stand out */
noscript p {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px;
    color: #856404;
    border-radius: 4px;
  }